.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(194, 194, 194, 0.602);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

